# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env files (except example)
.env
.env.*
!.env.example

# Logs
*.log
